.bg-thick{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 99999;
	
}
.in-thickbox{
	width: 510px;
	height: 560px;
	padding: 0px;
	background-color: #76FF03;
	border: 1px solid #169;
	border-radius: 	5px;
	margin: 40px auto;
	align-self: center;
}

.in-thickbox h1{
	border-bottom: 1px solid #777;
	font-weight: normal;
	color: black;
}
.in-thickbox h3{
	float: right;
	background-color: white;
	margin-top: -80px;
	margin-right: -45px;
	color: #888;
	padding: 10px 17px;
	border: 5px solid #888;
	border-radius: 100%;
	cursor: pointer;
}

.in-thickbox input[type=text], input[type=date]{
	width: 100%;
	color: green;
	text-indent: 5px;
	height: 35px;
	border: 1px solid #777;
}
.in-thickbox select{
	width: 100%;
	height: 35px;
	border: 1px solid #777;
	text-indent: 7px;
}
.submit{
	background-color: white;
	border: 1px solid #777;
	color: black;
	width: 500px;
	cursor: pointer;
	margin-top: 10px;
	padding: 5px 0px;
}